
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nota">Nota:</label>
      <input type="text" id="nota" formControlName="nota" [(ngModel)]="nota.nota" required>
    </div>
  
    <div class="form-group">
      <label for="fecha">Fecha:</label>
      <input type="date" id="fecha" formControlName="fecha" [(ngModel)]="nota.fecha" required>
    </div>
    
  
    <div class="form-group">
      <label for="etiqueta">Etiqueta:</label>
      <textarea id="etiqueta" formControlName="etiqueta" [(ngModel)]="nota.etiqueta" required></textarea>
    </div>
  
    <button type="submit" [disabled]="formulario.invalid">Agregar Nota</button>
</form>
