
    <div class="form-group">
        <label for="nota">Nota:</label>
        <label>{{nota.nota}}</label>
        <input type="text" id="nota" formControlName="nota" required>
      </div>
    
      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <label>{{nota.fecha}}</label>
        <input type="date" id="fecha" formControlName="fecha" required>
      </div>
    
      <div class="form-group">
        <label for="etiqueta">Etiqueta:</label>
        <label>{{nota.etiqueta}}</label>
        <textarea id="etiqueta" formControlName="etiqueta" required></textarea>
      </div>
    

