<h1>Clientes</h1>

<form>
    <table>
        <tr>
            <td>Codigo</td>
            <td><input type="number" name="txtCodigo"  [(ngModel)]="cliente.codigo" aria-label="Codigo de Cliente"></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td><input type="text" name="txtNombre"  [(ngModel)]="cliente.nombre" aria-label="Nombre de Cliente"></td>
        </tr>
        <tr>
            <td>DNI</td>
            <td><input type="text" name="txtDNI"  [(ngModel)]="cliente.dni" aria-label="DNI de Cliente"></td>
        </tr>
        <tr>
            <td>Direccion</td>
            <td><input type="text" name="txtDireccion"  [(ngModel)]="cliente.direccion" aria-label="Direccion de Cliente"></td>
        </tr>
    </table>
</form>

<button (click)="guardar()">Guardar</button>

<table>
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Direccion</th>
    </tr>
    <tr *ngFor="let cli of clientes | async">
        <td>{{cli.codigo}}</td>
        <td>{{cli.nombre}}</td>
        <td>{{cli.dni}}</td>
        <td>{{cli.direccion}}</td>
    </tr>
</table>