<h1>Detalles</h1>

<form>
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="number" name="txtId"  [(ngModel)]="detalle.id" aria-label="ID de Detalle"></td>
        </tr>
        <tr>
            <td>Cantidad:</td>
            <td><input type="number" name="txtCantidad"  [(ngModel)]="detalle.cantidad" aria-label="Cantidad de Detalle"></td>
        </tr>
        <tr>
            <td>Nombre:</td>
            <td><input type="text" name="txtNombre"  [(ngModel)]="detalle.nombre" aria-label="Nombre de Detalle"></td>
        </tr>
        <tr>
            <td>Producto:</td>
            <td><input type="number" name="txtProducto"  [(ngModel)]="detalle.codigoP" aria-label="Producto de Detalle"></td>
        </tr>
        <tr>
            <td>Factura:</td>
            <td><input type="number" name="txtProducto"  [(ngModel)]="detalle.codigoF" aria-label="Producto de Detalle"></td>
        </tr>
    </table>
</form>

<button (click)="guardar()">Guardar</button>

<table>
    <tr>
        <th>ID</th>
        <th>Cantidad</th>
        <th>Nombre</th>
        <th>Producto</th>
    </tr>
    <tr *ngFor="let det of detalles | async">
        <td>{{det.id}}</td>
        <td>{{det.cantidad}}</td>
        <td>{{det.nombre}}</td>
        <td>{{det.producto.nombre}}</td>
    </tr>
</table>