<h1>Facturas</h1>

<form>
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="number" name="txtId"  [(ngModel)]="factura.id" aria-label="ID de Factura"></td>
        </tr>
        <tr>
            <td>Fecha:</td>
            <td><input type="text" name="txtFecha"  [(ngModel)]="factura.fecha" aria-label="Fecha de Factura"></td>
        </tr>
        <tr>
            <td>Cedula:</td>
            <td><input type="text" name="txtCliente"  [(ngModel)]="factura.cedula" aria-label="Cliente de Factura"></td>
        </tr>
    </table>
    <ul>
        <li *ngFor="let detalle of detalles">
          <input type="checkbox" [value]="detalle" (change)="toggleDetalle(detalle)" aria-label="detalles"> {{detalle.producto.nombre}} {{detalle.codigoF}}
        </li>
    </ul>
</form>

<button (click)="guardar()">Guardar</button>

<table>
  <tr>
    <th>ID</th>
    <th>Fecha</th>
    <th>Cliente</th>
    <th>Acciones</th> <!-- Nueva columna para el botón -->
  </tr>
  <tr *ngFor="let fac of facturas | async">
    <td>{{fac.id}}</td>
    <td>{{fac.fecha}}</td>
    <td>{{fac.cliente.nombre}}</td>
    <td>
      <table>
        <tr>
          <td>Codigo</td>
          <td>Nombre</td>
        </tr>
        <tr *ngFor="let detalle of detalles">
          <ng-container *ngIf="fac.id == detalle.codigoF">
            <td>{{detalle.id}}</td>
            <td>{{detalle.producto.nombre}}</td>
            <td>{{detalle.codigoF}}</td>
          </ng-container>
        </tr>
      </table>
    </td>
  </tr>
</table>
