body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Color de fondo suave */
    color: #333; /* Color de texto principal más oscuro para un aspecto más formal */
    margin: 0;
  }
  
  button {
    background-color: #007bff; /* Color azul brillante */
    color: #fff; /* Texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Espaciado inferior */
  }
  
  button:hover {
    background-color: #0056b3; /* Tonos más oscuros al pasar el ratón */
  }
  
  .recipe-title, h2 {
    color: #0a488b; /* Mismo color azul brillante */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ddd; /* Borde del elemento de lista */
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff; /* Fondo blanco */
  }
  
  li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sutil sombra al pasar el ratón */
  }
  
  h3 {
    color: #004080; /* Azul más oscuro y formal */
    margin-bottom: 5px;
  }
  
  
  /* Estilo para el contenido de las notas */
  p {
    margin-bottom: 5px;
  }
  