<html lang="es">
<head>
    <title>Página Web de Recetas Culinarias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- En tu componente HTML -->
    <div>
      <label for="campoABorrar">Etiqueta a Borrar:</label>
      <input type="text" id="campoABorrar" [(ngModel)]="etiquetaBorrar">
      <button (click)="borrarTodasLasNotas()">Borrar Nota</button>
    </div>

    <h2>Notas</h2>
<ul>
  <li *ngFor="let nota of listaNotas | async">
    <!--<a (click)="goEditar(receta)">{{ receta.nombre }}</a>-->
    <p>Ingredientes: {{ nota.nota }}</p>
    <p>Pasos: {{ nota.fecha }}</p>
    <h3 (click)="goEditar(nota)">{{nota.etiqueta}}</h3>
  </li>
</ul>
</body>
